<?xml version="1.0" encoding="utf-8" ?>
<Template Type="Schematic">
  <Name>Schematic</Name>
  <Description>A new empty schematic</Description>
  <Icon></Icon>
  <Extension>schematic</Extension>
</Template> 
